
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(details.jpg); /* Specify the URL of your background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-size: cover; /* Ensure the background image covers the entire viewport */
    background-position: top; /* Center the background image */
    margin: 0;
    padding: 0;
   
}
